body{
	margin:0;
	padding:0;
	font-family: sans-serif;
	background-image: url(../WebImages/Orders.jpg);	
	background-size: cover;
	background-position: center;
}

.logo img{
	float:left;
	margin:30px;
	width: 150px;
	height: auto;
}

ul{
	float: right;
	list-style-type: none;
}
ul li{
	display: inline-block;
}
ul li h3{
	color:#FFFAF0;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color:#000; 
}
.wrapper{
	max-width: 1200px;
	margin: auto;
}
.heads{
	font-style: italic;
	border-style: solid;
	border-color: #fff;
	color: #FFF8DC;
	width:400px;
	height: auto;
	border-radius: 10px;
	text-align: center;
	margin-top:10px;
	
}
.heads h1{
	margin-top:0;
	margin-bottom: 0;
}
.heads h3{
	margin-top:0;
	margin-bottom: 0;
}
.title h2{
	padding:0;
	margin-top:80px;
	margin-bottom:0;
	border: solid;
	width:280px;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	color:#fff;
	text-align:center;
	margin-left:500px;
	font-size: 40px;
	border-radius: 10px;
}
.table-box
{
	margin-top: 20px;
    width: 1200px;
    height:500px;
    overflow-y: scroll;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.5);
}
table
{
    width: 100%;
    background: #FFF8DC;
}
table,td,th
{
    border: 1px solid #005277;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
}
th
{
    position: sticky;
    top:0;
    background: #00bcd4;
    color: #fff;
}

tr th:nth-child(1)
{
    width:60px;
    text-align: center;
    background: #03707d;
}
tr td:nth-child(1)
{
    background: #00bcd4;
    text-align: center;
    color: #fff;
}
tr td:nth-child(3)
{
	width:150px;
    text-align: center;
}
